@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Roboto:wght@100;400;700&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    background-color:whitesmoke;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* reusable classes */

.section{
  padding: 1.5rem 0 2.5rem;
}

.font-fam{
    font-family:'Roboto', sans-serif;
}

.font-normal{
  font-weight: 400;
}

.font-semi-bold{
    font-weight: 500;
}

.font-bold{
    font-weight: 700;
}

.font-m{
    font-size: medium;
}

.font-l{
    font-size: 1.25rem;
}

.font-xl{
    font-size: 2rem;
}

.font-xxl{
    font-size: 2.5rem;
}

.color-white{
    color: white;
}

.color-black{
    color: #050505;
}

.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar::after{
    content: '';
    display: block;
    height: 100px;
}

.color-nav{
    background-image:linear-gradient(180deg, #2b5876, #4e4376);
    transition: 0.5s ease-in;
}

/*
Experimental
*/
.color-nav_transparent{
    background-color:transparent;

}

.logo{
    font-family:'Cinzel', sans-serif ;
    text-align: center;
    padding-left:5%;
    position: relative;
    text-shadow: 1px 1px 5px #080709;
}

.nav-ul{
    display: flex;
    flex-direction: column;
    row-gap: 3.5%;
    width: 50%;
    height: 100vh;
    background-color: whitesmoke;
    position: absolute;
    top:-1rem;
    right: 0;
    justify-content: center;
    transition: 0.2s ease-in;
    z-index: 1;
}

.nav-links{
    color:black;
    padding: 20px;
}

.nav-links:hover{
 color: #2b5876;
}

.nav-hidden{
    display: none;
}

.nav-show{
    display: block;
    transition: 0.5s ease-in-out;
}

.menu-btn-container{
    padding: 3px;
    position: absolute;
    right: 20px;
}

.menu-btn-container:hover{
    cursor: pointer;
}

.nav-btn-container{
    padding: 10px;
}

.menu-icon{
    font-weight: 500;
    font-size: x-large;
    z-index: -1;
}

.close-btn{
    font-weight: 500;
    font-size: x-large;
    position: absolute;
    right: 14px;
    top:5px;
    padding: 10px;
    z-index: 2;
}

.close-btn:hover{
    cursor: pointer;
}

.action-btn{
    border: none;
    width: 90px;
    height: 30px;
    background-color: #2b5876;
    transition: 0.1s ease-in;
}

.action-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.action-btn-space{
    padding: 0 60px 30px 40px;
}

/* home section */

.home-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.home-img{
background-image:url(../img/rsz_home-img2.jpg) ;
}

.img-container{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 30%;
}

.home-text-container{
  width: 80%;
  margin: 95px auto;
}

.home-text{
    text-shadow: 1px 1px 4px #4e4376;
}

.home-text-color{
    color:rgb(120, 92, 131);
}

.form-container{
    width: 250px;
    height: 310px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: #443b66e6;
    padding: 10px;
    top:25%;
    box-shadow: 0px 3px 8px #4b416e1b;
    border-radius: 5px;
}

.form-style{
    justify-content: space-evenly;
}

.input-text{
    flex-direction: row;
    padding: 10px 10px;
}

.home-icon{
    padding-right: 10px;
    font-size: 0.9rem;
}

.form-data{
    width: 80%;
    height: 17%;
    margin: 10px 15px;
    border-radius: 5px;
}

.form-data:hover{
    cursor: pointer;
}

.btn-container{
    padding-top: 10px;
}

.form-btn{
    border: none;
    width: 100px ;
    height: 40px;
    color: white;
    background-color: #2b5876;
    transition: 0.5s;
}

.form-btn:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    border:2px solid #2b5876;
}


/* Discover section */


.discover-container{
    display: grid;
    padding: 4.5rem 0 2.5rem;
    margin-bottom: 5rem;
}

.discover-text-container{
    text-align: center;
}

.underline{
    width: 150px;
    height: 5px;
    background-color: #050505;
    justify-self: center;
    margin-bottom: 15%;
    border-radius: 2px;
}

.discover-card-container{
    display: grid;
    justify-content: center;
    row-gap: 7%; 
    height: 30%;
    max-width: 1024px;
    margin-bottom: 2rem;
}

.discover-card{
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 3px 14px #4b416e;
}

.discover-img_container{
    overflow: hidden;
}

.discover-img{
    width: 100%;
    height: 300px;
    transition: 0.4s;
}

.discover-img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.discover-data{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.discover-property-text{
    margin: 15px auto;
}
.icon{
  margin: 15px auto;
}

/* Commissions */

.commisions-container{
    display: grid;
    padding: 4.5rem 0 2.5rem;
}